<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body {
            background-image: url("background3.jpg");
            background-repeat: no-repeat;
            background-size: 100%;
        }

        h1 , h2{
            color: white;
            text-align: center;
            -webkit-text-stroke: 1px blue;
        }

        .search-results {
            color: white;
            margin: 20px;
            padding: 20px;
        }
        .result-item {
            background: rgba(0, 0, 0, 0.5);
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
        .result-item:hover {
            background: rgba(0, 0, 0, 0.7);
        }
        .no-results {
            color: white;
            text-align: center;
            margin-top: 20px;
        }
        .nav-item {
            margin-right: 10px;
        }   
        .btn-outline-primary:hover {
            color: white;
        }
        .btn-outline-danger:hover {
            color: white;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Search Results</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-2">
        <a class="navbar-brand" style="color: rgb(191, 255, 161)">Search Results</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="btn btn-outline-primary my-2 my-sm-0 mr-2" href="/home">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="/logout">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
            <form method="POST" action='/search' class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" name="Search" type="search" placeholder="Search"
                    aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>

    <div class="search-results">
        <h2>Search Results for "<%= searchTerm %>"</h2>
        
        <% if (results && results.length > 0) { %>
            <% results.forEach(function(result) { %>
                <div class="result-item" onclick="window.location.href='<%= result.path %>'">
                    <%= result.name %>
                </div>
            <% }); %>
        <% } else { %>
            <div class="no-results">
                No destinations found matching "<%= searchTerm %>"
            </div>
        <% } %>
    </div>


</body>
</html>